:root {
  --lightgray-1: #D3D4DF;
  --black-1: #1b1b23;
  --lightgray-2: rgb(240, 240, 240);
  --black-2: #2F2F2F;
  --white-1: rgb(255, 255, 255);
  --gray:#999AAA;
  --container-width:calc(100vw - 200px);
  --lightgreen:#80F5BD;
--lightpurple: #BFB6FF;
--lightblue-1:#62B2FF;
--lightblue-2:#C6E3FF;
--lightyellow:#D9FF80;
--lightgray-3:rgba(0, 0, 0, 0.08);
--error:#E30611}